/* mobile devices  */
@media only screen and (max-width:688px) {
    #motab {
        visibility: hidden;
    }

    #hello {
        height: 330px;
    }
}

@media only screen and (min-width:689px) and (max-width:992px) {
    #motab {
        visibility: hidden;
    }

    #tax {
        width: 100%;
    }
}